
   
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
 }
.clearfix::after {
    clear: both;
}

/* Flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
}
.center {
  justify-content: center;
  align-items: center;
}
/* Header */
.heading {
    background-color: #DC3C45;
    color:white;
    height: 40px;
    padding: 10px;
}
.header-text {
    font-weight: normal;
    font-size: 12px;
}
.right-text {
    margin-left: 40px;
}
.sm-icons {
    font-size: 12px;
    a {
        color: white;
        padding-right: 10px;
    }
}
.sm-icons-1 {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  &:hover {
    background-color: #ddd;
  }
}
/* Header two */
.heading-two {
    background-color: #F2F2F2;
    height: 70px;
}
.nav-bar {
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        color: #454545;
        padding: 16px;
        font-weight: bold;
    }
    .dropdown & {
        position: relative;
        display: inline-block;
    }
}
.logo-img {
    padding: 20px;
    margin-right: 400px;
}
.home-redbg {
    background-color: #DC3C45;
    &:hover {
        background-color: #DC3C45;
        color: white;
    }
}
.btn, .btn-1 {
    text-decoration: none;
    background-color: #EE6368;
    color: #F0F2F1;
    display: inline-block;
    padding: 15px 40px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    &-1 {
        margin-top: 30px;
    }
}

/* Business services hero */
.btn-bs {
    text-decoration: none;
    background-color: #DC3C45;
    color: #F0F2F1;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: lighter;
}
.hero-img {
    width: 100%;
    background-image: url(/assets/media/banner.png);
    background-repeat: no-repeat;
}
.bs-aside {
    padding: 150px;
}
h1 {
    color: black;
    font-size: 55px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1;
}
.bs-text {
    color: black;
    font-weight: lighter;
    margin-bottom: 20px;
}
/* column 4  */
.services-heading {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.services-text {
    font-size:16px;
    color: #D2D5D7;
    margin-bottom: 20px;
}
.s-heading {
    font-size: 18px;
    color: #606061;
    margin-bottom: 20px;
}
.services-box {
    border: 2px solid #e8eaeb;
    width: 300px;
    height: 320px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;}

.services-svg {
    width: 80px;
    margin-bottom: 25px;
}
.btn-2 {
    text-decoration: none;
    border: 2px solid #e96e72;
    color: #e76c70;
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
}
/* solutions section */
.solutions-bg {
    background-color: #F8F9FA;
    padding: 60px;
    margin-top: 100px;
}
/* consulting section */
.consulting-heading {
    margin-bottom: 40px;
    text-align: center;
}
.consulting-text {
    text-align: center;
}
.team-img {
    width: 100%;
}
// CLIENT
.logo-client {
    width: 100%;
     filter: grayscale(100%);
     filter: gray;
  &:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }
}
/* FOOTER */
.footer-section {
    background-color: #343A40;
    padding: 130px;
    padding-bottom: 10px;
    margin-top: 140px;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-p {
    margin-bottom: 30px;
    font-size: 14px;
    color: #8B8D8F;
    line-height: 1.5;
  }
  .icons-footer {
    text-decoration: none;
  }
  .sm-icons-footer {
    font-size: 15px;
    text-decoration: none;
  }
  .sm-icons-footer a {
    color: #8B8B8B;
    padding-right: 10px;
  }
  .footer-nav {
    font-size: 25px;
    line-height: 1.5;
  }
  .footer-nav a {
    color: #8B8B8B;
  }
  .footer-heading {
    color: white;
    font-size: 20px;
    margin-left: 13px;
  }
  .bottom-bar {
    font-size: 15px;
    background-color: #343A40;
    color: #8B8B8B;
    line-height: 1.5;
  }
  
  /* <----------------------- ABOUT US PAGE -------------------> */ 
  
  .aboutus-bg {
    background-color: #DC3C45;
    padding: 40px;
    text-align: center;
  }
  .about-heading, .about-text{
    color: rgba(255, 255, 255, 0.842);
    padding: 10px;
  }
  .about-heading {
    font-size: 50px;
  }
  .about-caption {
    color: #DC3C45;
  }
  .about-title {
    font-size: 20px;
    margin: 20px;
  }
  .about-para {
    margin: 20px;
    line-height: 1.5;
  }
  .about-icon {
    text-decoration: none;
    color: black;
    font-size: 40px;
  }
  .vision-img {
    width: 100%;
    padding: 80px;
  }
  /* TEAM */
  .sol-sect {
    margin-bottom: 30px;
  }
  .team-heading {
    font-size: 50px;
  }
  .team-box {
    width: 250px;
    height: 350px;
    background-color: white;
    margin: 20px;
  }
  .team-man-img {
    width: 100%;
  }
  .team-name {
    text-align: center;
    margin: 8px;
  }
  
  /* <----------------------- CONTACT US PAGE -------------------> */ 
  .contact-bg {
    background-color: #F8F9FA;
  }
  .address-heading {
    font-size: 25px;
    margin: 20px;
  }
  .add-elm {
    font-size: 40px;
    color: red;
  }
  .circle {
    width: 80px;
    height: 80px;
    background-color: rgb(175, 174, 174);
    border-radius: 50px;
    padding-top: 20px;
  }
  .contact-logo {
    margin: 40px;
  }
  .align {
    text-align: center;
  }
  .form-control {
    border: 1px solid #aca4a4;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    padding: 12px 20px;
    border-radius: 4px;
    margin-right: 10px;
  }
  .map-img {
    width: 100%;
  }
  .btn-form {
    border: 2px solid #e76c70;
    color: white;
    background-color: #e76c70;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
  }